<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

some of the popular languages that Data Scientists use are:
1.Python
2.R
3.SQL

objectives:
Julia
SAS
Machine learning

some of the commonly used libraries used by Data Scientists include:

dplyr= Data manipulation
stringr = string manipulation
ggplot = data visualization
caret = Machine learning

Data science Tools
1.Data management tools
2.Data integration and transformation tools
3.Data visualization tools

Below are a few examples of evaluating arithmetic expressions in python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers.

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
hours = 200//60
print(hours)

3

Author
Lakshmi Holla
Niveditha Pandith
N.v.jaswanth